/* Tạo lịch */
.date-picker-container {
	position: relative;
	display: flex;
	flex: 1;
}
input[type="text"] {
	padding: 10px;
	font-size: 15px;
	width: 260px;
	border: 1px solid #ccc;
}

.date-options {
	position: absolute;
	display: none;
	top: 45px;
	left: 0;
	width: 270px;
	border: 1px solid #ccc;
	border-radius: 0px;
	background-color: var(--web-color);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	transition: all 0.1s linear;
	font-size: 14px;
	overflow-y: scroll;
	max-height: 250px;
	max-width: 250px;
}

.date-options:focus {
	border: 2px solid rgb(50, 50, 54);
	font-weight: normal;
	box-shadow: 2px 4px 4px -2px black;
}
.date-options div {
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.2s;
}
.date-options div:hover {
	background-color: #f0f0f0;
}
.date-options div.selected {
	background-color: #e0e0e0;
}
/*----------------------------------end day---------------------------------------------------*/

.body__search {
	margin: 2%;
	width: auto;
	display: flex;
	flex: 1;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	box-sizing: border-box;
}

input::placeholder {
	font-size: 14px;
	color: black;
	transition: color 0.5s;
}

.dark-mode input::placeholder{
	color: white;
	transition: color 0.5s;
}

.body__search-input {
	display: flex;
}

.header__search-select {
	width: 60px;
	height: 50px;
	border-radius: 36px;
	font-size: 1.4rem;
	border: none;
	outline: none;
	border: 1px solid rgb(190, 190, 190);
	background-color: rgb(246, 246, 246);
	cursor: pointer;
	transition: all 0.2s ease;
	display: flex;
	flex: 1;
	align-items: center; /* Căn giữa theo chiều dọc */
	justify-content: center;
	min-width: 50px;
	min-height: 50px;
}
.header__search-select:hover {
	background-color: rgb(167, 167, 174);
}
.header__search-select:active {
	background-color: rgb(246, 246, 246);
	border: 2px solid rgb(160, 160, 160);
}

.body__search-input-element {
	border-radius: 10px;
	background-color: transparent;
	font-size: 1.4rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	padding: 0.7em 2em;
	position: relative;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	transition: 0.3s ease all;
	z-index: 1;
	color: #fff;
	transition: all ease 0.3s;
}

.fa-solid.fa-magnifying-glass {
	background: none;
	border: none;
	outline: none;
}

.body__search-input-element:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(0px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.body__search-input-element:active {
	background-color: transparent;
}
.body__search-input-element:focus {
	background-color: transparent;
}

.header__search-select button {
	background-color: transparent;
	color: black;
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.fa-solid.fa-file-pdf {
	background: none;
	border: none;
	outline: none;
}

@media screen and (max-width: 768px) {
	.body__search {
		flex-direction: column; /* Chuyển các thành phần thành cột */
		align-items: stretch; /* Đảm bảo các phần tử kéo giãn theo chiều rộng */
	}

	.body__search-input-element {
		min-width: 100%; /* Các input sẽ chiếm toàn bộ chiều rộng */
		margin-bottom: 10px; /* Khoảng cách giữa các ô input */
	}

	#date_input,
	#amount_input,
	#content_input,
	#pdf-export-button {
		width: 100%; /* Các input sẽ có độ rộng 100% */
	}

	/* Đảm bảo nút tìm kiếm vẫn giữ được vị trí đúng */
	.header__search-select{
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
}
