/* Bảng dữ liệu */
.menu_container{
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    background: rgba(255,255,255,0.2);
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 96%;
    margin-bottom: 1%;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    border-collapse: collapse;
    table-layout: fixed; 
    overflow-x: auto;
}

.menu_container th:nth-child(1), 
.menu_container td:nth-child(1) {
    width: 15%; 
}

.menu_container th:nth-child(2), 
.menu_container td:nth-child(2) {
    width: 15%; 
}

.menu_container th:nth-child(3), 
.menu_container td:nth-child(3) {
    width: 10%; 
}

.menu_container th:nth-child(4), 
.menu_container td:nth-child(4) {
    width: 60%; 
}
/* Tiêu đề bảng */
#menu_title th{
    padding: 10px;
    text-align: left;
    background-color :var(--web-color);
    color: white;
    font-size: 20px;
    border: 1px solid #ddd;
    white-space: normal; 
}
/*Hieu ung loading*/
.loader {
    width: 45px;
    height: 30px;
    background:
      linear-gradient(#004ce4 0 0) 0 100%/100% 50%,
      linear-gradient(#004ce4 0 0) 0 0   /calc(100%/3) 100%;
    background-repeat: no-repeat;
    position: relative;
    clip-path: inset(-100% 0 0 0);
    animation: l2-0 2s infinite steps(4);
  }
  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    inset:-50% 0 50%;
    background:
      linear-gradient(#00e622 0 0) 0 0      /calc(2*100%/3) 50%,
      linear-gradient(#00e622 0 0) 100% 100%/calc(2*100%/3) 50%;
    background-repeat: no-repeat;
    animation: inherit;
    animation-name: l2-1;
  }
  .loader::after {
    inset:-100% 0 100%;
    background:
      linear-gradient(#e50021 0 0) 0    0/100%         50%,
      linear-gradient(#e50021 0 0) 100% 0/calc(100%/3) 100%;
    background-repeat: no-repeat; 
    animation-name: l2-2;
  }
  @keyframes l2-0{
    0%       {transform: translateY(-250%);clip-path: inset(100% 0 0 0)}
    25%,100% {transform: translateY(0);clip-path: inset(-100% 0 0 0)}
  }
  @keyframes l2-1{
    0% ,25%  {transform: translateY(-250%)}
    50%,100% {transform: translateY(0)}
  }
  @keyframes l2-2{
    0% ,50%  {transform: translateY(-250%)}
    75%,100% {transform: translateY(0)}
  }
  .loader_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
  }
.menu_row td {
    padding: 8px;
    font-size: 20px;
    border: 1px solid #ddd;
    word-wrap: break-word;
    white-space: normal;
}
.menu_row:nth-child(even){
    background: rgba(255,255,255,0.2);
}
.menu_row:hover{
    background: rgb(255,255,255);
    color:var(--web-color);
    font-weight: 600;
}
.table_footer
{
    margin-top: 10px;
}
/* Nút chuyển trang */
.paginate{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 1%;
}
/* Trang kế */
#next_page{
    width:40px;
    height:40px;
    display: flex;
    align-items: center; 
    justify-content: center;
    display: inline-block;
    background: none; 
    border: none;
    color: #fff;
    font-size: 16px;
    margin: 0 5px; 
    cursor: pointer; 
    transition: all 0.3s;
    border-radius: 50%;
}
#next_page:hover{
    background: var(--web-color);
    color: white; 
}
#next_page:active{
    color: white; 
    background: var(--web-color-active);
    border-radius: 50%; 
    padding: 5px 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); /* Phóng to nhẹ */
}
/* Trang trước */
#prev_page{
    width:40px;
    height:40px;
    display: flex;
    align-items: center; 
    justify-content: center;
    display: inline-block;
    background: none; 
    border: none;
    color: #fff;
    font-size: 16px;
    margin: 0 5px; 
    cursor: pointer; 
    transition: all 0.3s;
    border-radius: 50%;
}
#prev_page:hover{
    background: var(--web-color);
    color: white; 
}
#prev_page:active{
    color: white; 
    background: var(--web-color-active);
    border-radius: 50%; 
    padding: 5px 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); /* Phóng to nhẹ */
}
/* Trang hiện tại */
.page_button{
    width:40px;
    height:40px;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    display: inline-block;
    background: none; 
    border: none;
    color: #d1d1d1;
    margin: 0 5px; 
    cursor: pointer; 
    transition: all 0.3s;
    border-radius: 50%;
    font-size:1.2rem;
}
.page_button:hover{
    background:var(--web-color);
    color: white;
    display: flex;
}
.page_button:active{
    color: white; 
    background: var(--web-color-active);
    border-radius: 50%; 
    padding: 5px 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    transform: scale(1.1);
}
.pagination{
    display: flex;
    align-items: center;
    justify-items: center;
    gap:5px;
}
.current_page{
    background: rgba(255, 255, 255, 0.3);
}
/* Trang đầu tiên */
#first_page{
    width:40px;
    height:40px;
    display: flex;
    align-items: center; 
    justify-content: center;
    display: inline-block;
    background: none; 
    border: none;
    color: #fff;
    font-size: 16px;
    margin: 0 5px; 
    cursor: pointer; 
    transition: all 0.3s;
    border-radius: 50%;
}
#first_page:hover{
    background:var(--web-color);
    color: white; 
}
#first_page:active{
    color: white; 
    background: var(--web-color-active);
    border-radius: 50%; 
    padding: 5px 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); /* Phóng to nhẹ */
}
/* Trang cuối cùng */
#last_page{
    width:40px;
    height:40px;
    display: flex;
    align-items: center; 
    justify-content: center;
    display: inline-block;
    background: none; 
    border: none;
    color: #fff;
    font-size: 16px;
    margin: 0 5px; 
    cursor: pointer; 
    transition: all 0.3s;
    border-radius: 50%;
}
#last_page:hover{
    background: var(--web-color);
    color: white;
}
#last_page:active{
    color: white; 
    background: var(--web-color-active);
    border-radius: 50%;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); /* Phóng to nhẹ */
}

.menu_row th {
    padding: 10px;
    text-align: left;
    position: relative;
  }

  .sortButton {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    margin-left: 5px;
    color: white;
  }


/* Dùng trên thiết bị điện thoại, ipad */
@media (max-width: 768px) {
    /* Cái bảng */
    .menu_container {
        display: block; /* Biến bảng thành block để có thể cuộn ngang */
        overflow-x: auto; /* Thêm thanh cuộn ngang */
        -webkit-overflow-scrolling: touch; /* Cải thiện cuộn trên các thiết bị cảm ứng */
    }
    /* Cái tiêu đề bảng */
    #menu_title th {
        font-size: 1rem; /* Giảm kích thước chữ trong tiêu đề */
    }
    /* Cũng là cái tiêu đề bảng */
    .menu_row th {
        font-size: 1rem; /* Giảm kích thước chữ trên màn hình nhỏ */
        padding: 8px; /* Giảm khoảng cách trong các ô */
        /* word-wrap: break-word; */
        white-space: normal; /* Đảm bảo chữ không bị cắt ngắn */
        text-align: left; /* Canh lề trái cho tiêu đề */
    }
    /* Cái dữ liệu trong bảng */
    .menu_container td {
        font-size: 1rem; /* Giảm kích thước chữ trong ô */
        text-align: left; /* Canh lề trái cho nội dung các ô */
        padding: 8px; /* Điều chỉnh padding cho các ô */
    }
    /* Mấy cái cột tiêu đề */
    .menu_container th:nth-child(1), 
    .menu_container td:nth-child(1) {
        width: 15%; 
    }

    .menu_container th:nth-child(2), 
    .menu_container td:nth-child(2) {
        width: 10%; 
    }

    .menu_container th:nth-child(3), 
    .menu_container td:nth-child(3) {
        width: 10%; 
    }

    .menu_container th:nth-child(4), 
    .menu_container td:nth-child(4) {
        width: 65%; 
    }
    /* Mấy cái nút */
    .paginate{
        display: flex;
        flex: 1;
        justify-content: center;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    .page_button{
        width:30px;
        height:30px;
        font-size:1rem;
    }
    #last_page{
        width:30px;
        height:30px;
        font-size:1rem;
    }
    #first_page{
        width:30px;
        height:30px;
        font-size:1rem;
    }
    #prev_page{
        width:30px;
        height:30px;
        font-size:1rem;
    }
    #next_page{
        width:30px;
        height:30px;
        font-size:1rem;
    }
    
}
