.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
:root {
    --white-color: #fff;
    --black-color: #333;
    --text-color: #333;
    --green-color: #2ecc71;
    --web-color: #41C9E2 ;
    --web-color-active:#35a7bb ;
}

*{
    box-sizing: inherit;
    
}

html{
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family:'Nunito', sans-serif;
  box-sizing: border-box;
  background-color:#ffffff;
  background-color: black;    

  background-image: url(https://image.cdn2.seaart.me/2023-11-26/23730141523929093/f2f26b051561f92b7548a9b451cfe96e931c2624_high.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

/* tương thích với các kích thước màn hình */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full--width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}


/* cái bảng chứa cái bảng */
.body{
    width: 95vw;
    height: fit-content;
    position: absolute;
    background-color: rgba(255, 255,255,0.1);
    border-radius: 10px;
    backdrop-filter:blur(0px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255,255,0.2);
    border-bottom: 1px solid rgba(255, 255,255,0.2);
    transition: linear all .35s;
    width: 96%; 
    top : 30vh;
    margin: 0 auto;
    flex-wrap: wrap; 
    gap: 10px;
    z-index: 0;
    flex: 2;
    /* để cái .body position: absolute */
}

.body:hover{
    backdrop-filter:blur(10px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: center;
  }

  .header__title p {
      font-size: 1rem;
  }

  .body__search {
      flex-direction: column;
      align-items: stretch;
  }

  .menu_container {
      font-size: 0.9rem; /* Chỉnh nhỏ hơn để hiển thị tốt trên màn hình nhỏ */
  }
  .body{
    top: 35vh;
  }

}

body {
  background-image: url(https://image.cdn2.seaart.me/2023-11-26/23730141523929093/f2f26b051561f92b7548a9b451cfe96e931c2624_high.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
.web{
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  
}
